/* swiper */
.swiper {
  width: 100%;
}

/* filter buttons */
.filter__buttons-active {
  background-color: #299764 !important;
  color: #fff;
}
.filter__buttons-active:hover {
  background-color: #077743 !important;
}

/* coment */
.kamalak {
  background: linear-gradient(
    90deg,
    #ea4335 19.83%,
    #fbbc05 65%,
    #34a853 82.29%,
    #4285f4 100%
  );
}

.btn-insta {
  background: radial-gradient(
      230.93% 230.93% at 102.01% 2.03%,
      #f9ed32 0%,
      #ee2a7b 36%,
      #d22a8a 44%,
      #8b2ab2 60%,
      #1b2af0 83%,
      #002aff 88%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
}
.font-insta {
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    #f9ed32 0%,
    #ee2a7b 36%,
    #d22a8a 44%,
    #8b2ab2 60%,
    #1b2af0 83%,
    #002aff 88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btn-insta:hover .font-insta {
  color: white !important;
  -webkit-text-fill-color: #fff;
}

.active-scroll {
  opacity: 1 !important;
}
